body{
    background-color: cadetblue;
}
h1,p, li{
    font-family: 'Courier New', Courier, monospace;
}
.text{
    display: auto;
    justify-content: center;
    text-align: center;
}
.hide{
    list-style: none;
}
.select{
    display: flex;
    justify-content: center;
}
.selects{
    background: none;
    border: none;
    outline: none;
    margin-top: 2%;
    margin-right: 5%;
    cursor: pointer;
    transition: 100ms;
    
}
.selects img{
    width: 50px;
    height: 50px;
}
.selects:hover{
    transform: scale(1.1);
}

.result{
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}
.r-score{
    margin-left: 1rem;
    font-size: 2rem;
    color: blue;
}

.result-sekect{
    opacity: .5;
}
.result-selection-winner{
    opacity: 1;
    font-size: 1.5rem;
}
img{
    width: 50px;
    height: 50px;
}
.present{
    margin-top: .1rem;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, .1fr);
   
}